@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');
html {
    scroll-behavior: smooth;
}

:root {
    --primary-color:#FCD34D;


}   

body {
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;
    
}

.navigation{
    color: white;
}



.list-non-bullet {

    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* .navigation .nav-pills {
    text-align: right;
} */

a{
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.nav-container {
        display:flex;
        justify-content:space-between;
        align-items:center; 
}

.main-profile {
    padding:2rem;
    text-align: center;
}

.profile-img {
    max-width: 80%;
    width: 300px;
    border-radius: 2rem;
    object-fit: cover;
    margin: auto;
    display: block;
}

.profile-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(--dark-gray);
}

.main-profile .profile-heading{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2rem;
}

.section {
    padding: 1rem;
    box-sizing: border-box;

}

.section h2{
    text-align: center;
}

.section h6 {
    text-align: center;
}

.section .container-center {
    max-width: 600px;
    margin: auto;

}

.primary-section{
    color:white;    
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 1000px;
    margin: auto;   
}

.secondary-section {
    color:var(--primary-color);    
    border-radius: 0.5rem;
    border: 1px solid white;
    display: block;
    max-width: 1000px;
    margin: auto;   
}

.btn-center{
    margin: auto;
    text-align: center;
}

.btn-space{
    margin:0.5rem;
}
.secondary-btn{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    font-size: large;
    padding: 0.5rem;
    background-color:black;
}

.primary-btn{
    color: white;
    border-radius: 0.5rem;
    border: 3px solid white;
    font-size: large;
    padding: 0.5rem;
    background-color:black;
}

.primary-btn:hover{
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    background-color: black;
}

.secondary-btn:hover{
    color: white;
    border: 3px solid white;
    background-color: black;
}

.footer-line {
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 0.5rem;
}

.footer .social-pills {
    text-align: center;
}
.footer ul {
    padding-inline-start: 0px;
}

.social-logo {
    color: white;
}

hr {
    border: 1px solid white;
}


/*Navbar toggle  */
nav {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
nav .mainMenu {
    display: flex;
    list-style: none;
}
nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu .active,nav .mainMenu li a:hover {
    color: var(--primary-color);
}
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}
nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-linkedin-square:hover {color: rgb(0, 110, 255);}
.fa-twitter-square:hover {color: rgb(86, 154, 243);}
.fa-github-square:hover {color: rgb(255, 123, 0);}
.fa-envelope-o:hover {color: #EA4335;}

nav .logo {
    margin: 6px;
    font-size:xx-large;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 3px solid var(--primary-color);
    display: block;
    max-width: 170px;
    max-height: 70px;
    font-weight: bolder;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
}

@media(max-width: 800px){
    nav .mainMenu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        transition: top 1s ease;
        display: none;
    }
    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;

    }
    nav .openMenu {
        display: block;
    }
    nav .mainMenu li a:hover {
        background: none;
        color: var(--primary-color);
        font-size: 1.6rem;
    }
    .icons i {
        display: inline-block;
        padding: 12px;
    }
}
